* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#display {
    width: 41.25vh;
    height: 10vh;

    background-color: rgb(211, 211, 211);
    color: rgb(95, 95, 95);
    font-size: 150%;

    margin: 0;
    margin-bottom: 12%;
    border-radius: 2px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    width: 10vh;
    height: 10vh;

    background-color: rgb(150, 91, 154);
    color: rgb(236, 237, 237);
    font-size: 25px;

    margin-bottom: 5%;
    border-radius: 15%;
    border: none;
    
}

.botao:hover {
    background-color: rgb(144, 40, 152);
    color: rgb(236, 237, 237);
}

#calculadora {
    background-color: rgb(236, 237, 237);
    
    border-radius: 10%;

    margin: 10vh;
    padding: 2%;
}